span.decided {
  color: #f92672;
}
span.select {
  color: #a6e22e;
}
span.point {
  color: #f0d352;
}
span.number,
span.theme,
span.desire,
span.key-item {
  color: #ae81ff;
}
span.arrow,
span.brace {
  font-family: monospace;
  font-weight: bold;
}
span.arrow {
  color: #66d9ef;
}
span.brace {
  color: #f92672;
}
span.pale {
  color: #88846f;
}
